# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [1]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [2]:
path = 'data/apple_store.csv'

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [3]:
data = pd.read_csv(path)

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [4]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [5]:

print (data.describe())

                 id    size_bytes        price  rating_count_tot  \
count  7.197000e+03  7.197000e+03  7197.000000      7.197000e+03
mean   8.631310e+08  1.991345e+08     1.726218      1.289291e+04
std    2.712368e+08  3.592069e+08     5.833006      7.573941e+04
min    2.816565e+08  5.898240e+05     0.000000      0.000000e+00
25%    6.000937e+08  4.692275e+07     0.000000      2.800000e+01
50%    9.781482e+08  9.715302e+07     0.000000      3.000000e+02
75%    1.082310e+09  1.819249e+08     1.990000      2.793000e+03
max    1.188376e+09  4.025970e+09   299.990000      2.974676e+06

       rating_count_ver  user_rating  user_rating_ver
count       7197.000000  7197.000000      7197.000000
mean         460.373906     3.526956         3.253578
std         3920.455183     1.517948         1.809363
min            0.000000     0.000000         0.000000
25%            1.000000     3.500000         2.500000
50%           23.000000     4.000000         4.000000
75%          140.000000     4.500000         4.500000
max       177050.000000     5.000000         5.000000

### 6. Print the number of columns in the data.

In [6]:
print(len(data.columns))

9

### 7. Print all column names.

In [7]:
print(list(data.columns))

['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre']

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [8]:
print(data['id'].value_counts().size)

7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [9]:
print(data['user_rating'].mean())

3.526955675976101

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [10]:
#creo que hay algo de la pregunta que no 
#he entendido, porque me sale en la primera celda.

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [11]:
user_rating_high = data.query('user_rating >= 4')
print(user_rating_high)

              id                                         track_name  \
0      281656475                                    PAC-MAN Premium
1      281796108                          Evernote - stay organized
3      282614216  eBay: Best App to Buy, Sell, Save! Online Shop...
4      282935706                                              Bible
5      283619399                                   Shanghai Mahjong
...          ...                                                ...
7192  1187617475                                              Kubik
7193  1187682390                                  VR Roller-Coaster
7194  1187779532              Bret Michaels Emojis + Lyric Keyboard
7195  1187838770          VR Roller Coaster World - Virtual Reality
7196  1188375727                       Escape the Sweet Shop Series

      size_bytes  price  rating_count_tot  rating_count_ver  user_rating  \
0      100788224   3.99             21292                26          4.0
1      158578688   0.00            161065                26          4.0
3      128512000   0.00            262241               649          4.0
4       92774400   0.00            985920              5320          4.5
5       10485713   0.99              8253              5516          4.0
...          ...    ...               ...               ...          ...
7192   126644224   0.00               142                75          4.5
7193   120760320   0.00                30                30          4.5
7194   111322112   1.99                15                 0          4.5
7195    97235968   0.00                85                32          4.5
7196    90898432   0.00                 3                 3          5.0

      user_rating_ver   prime_genre
0                 4.5         Games
1                 3.5  Productivity
3                 4.5      Shopping
4                 5.0     Reference
5                 4.0         Games
...               ...           ...
7192              4.5         Games
7193              4.5         Games
7194              0.0     Utilities
7195              4.5         Games
7196              5.0         Games

[4781 rows x 9 columns]

Now obtain the length of `user_rating_high` which should return 4781.

In [12]:
print(len(user_rating_high))

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [15]:
genres = data['prime_genre'].unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [16]:
print(len('genres')) #no entiendo porqué me da 6

6

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [18]:
genres.value_counts().head(3)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [31]:
free_apps = data.loc [data['price'] == 0.00]

In [32]:
print(len(free_apps))

4056

In [39]:
free_apps.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
1,281796108,Evernote - stay organized,158578688,0.0,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.0,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.0,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.0,985920,5320,4.5,5.0,Reference
6,283646709,PayPal - Send and request money safely,227795968,0.0,119487,879,4.0,4.5,Finance

In [40]:
print(free_apps['prime_genre'].value_counts())

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [41]:
(free_apps['prime_genre'].value_counts() / data['prime_genre'].value_counts()).sort_values(ascending=False)

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [56]:
data['benefits'] = data['price'] * data['rating_count_tot']

/var/folders/01/wqv196rd4sx_rrnwlvh6ksq40000gn/T/ipykernel_13317/1795165651.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['benefits'] = data['price'] * data['rating_count_tot']

In [57]:
new_data = data.copy()

In [58]:
new_data['loksea'] = new_data['price'] * new_data['rating_count_tot']

In [59]:
data

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre,84955.08,...,356.21,389.61,730.1700000000001,78.21,804.3100000000001,425.86,219.45000000000002,1165.0800000000002,290.03000000000003,benefits
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,84955.08
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,29.85
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00

In [63]:
data.sort_values('benefits', ascending=False)

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre,84955.08,...,356.21,389.61,730.1700000000001,78.21,804.3100000000001,425.86,219.45000000000002,1165.0800000000002,290.03000000000003,benefits
1052,479516143,Minecraft: Pocket Edition,147787776,6.99,522012,1148,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,3648863.88
348,362949845,Fruit Ninja Classic,104590336,1.99,698516,132,4.5,4.0,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,1390046.84
1114,488627858,Draw Something,84379648,2.99,360974,3,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,1079312.26
11,284815117,SCRABBLE Premium,227547136,7.99,105776,166,3.5,2.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,845150.24
999,471063940,Call of Duty: Black Ops Zombies,880267264,6.99,116601,5839,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,815040.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3949,1010677881,World Chef: Restaurant & Cooking Game,136355840,0.00,29886,103,4.5,4.5,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
1178,499835343,TOEIC®テストリスニング360問,75341824,2.99,0,0,0.0,0.0,Education,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
3947,1010587367,Stickman Football,47736832,0.00,429,0,4.0,0.0,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
1179,500003565,"Ticketmaster - Tickets for Concerts, Sports, S...",174097408,0.00,5356,63,3.0,3.5,Entertainment,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games,84955.08,...,356.21,389.61,730.17,78.21,804.31,425.86,219.45,1165.08,290.03,0.00